<!DOCTYPE html>
<html>
  <head>
    <title>Rocky Peter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  </head>
  <body>

    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <%= link_to "Rocky Peter", '#', id: "logo" %>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home",   '#' %></li>
              <li><a href="#my_story">My Story</a></li>
              <li><a href="#my_music">My Music</a></li>
              <li><a href="#my_tour">Events/Tickets </a></li>
            </ul>
          </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  </html>
